.calculator button, input[name=button] { width:50px; }
input[name=anzeige] { width: 260px; text-align: right; }
.main { width: 400px; margin:auto;}
label { width: 100px; }
label + input.form-control { display:inline-block; width:auto; }
h1 { text-align:center; margin-bottom:20px;}
.calculator { margin:auto; }
.anmerkungen { width:800px; margin:auto; }